@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --primary: 161 48% 42%;
    --primary-hover: 161 52% 35%;
    --primary-light: 160 49% 96%;
    --primary-foreground: 0 0% 100%;
    --border: 214 20% 91%;
    --input: 214 20% 91%;
    --ring: 161 48% 42%;
    --muted: 210 40% 98%;
    --muted-foreground: 215 16% 47%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
